* {
    background:     rgb(30, 29, 47);
    background-alt: rgb(40, 40, 57);
    foreground:     rgb(217, 224, 238);
    selected:       rgb(122, 162, 247);
    active:         rgb(171, 233, 179);
    urgent:         rgb(242, 143, 173);
}